engine-strict=true
@vector-web-components:registry=https://livesafe.jfrog.io/artifactory/api/npm/vector-npm/
//livesafe.jfrog.io/artifactory/api/npm/vector-npm/:_authToken=cmVmdGtuOjAxOjE3NzEzMjE3OTQ6OUFtT1NoZGwxTXpYTlE5M2ZkMFlLNkNQV3hy
//livesafe.jfrog.io/artifactory/api/npm/vector-npm/:email=asmita.ghangare-ctr@vectorsolutions.com
//livesafe.jfrog.io/artifactory/api/npm/vector-npm/:always-auth=true